@media (max-width: 1920px) {
   .input::placeholder,
   .add-book__textarea::placeholder,
   .add-book__select option {
      font-family: "Roboto", serif;
   }
}

@media (max-width: 1199.98px) {
   .app__title {
      font-size: 40px;
   }

   .list__deco-img {
      width: 60px;
      top: -26px;
   }
   
   .wrapper {
      padding-top: 70px;
   }
}

@media (max-width: 991.98px) {
   .add-book__form {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 40px);
      grid-auto-rows: auto;
   }

   .add-book__select {
      grid-column: 2;
      grid-row: 2;
   }

   .image-upload-label {
      grid-column: 1;
      grid-row: 4;
   }

   .input {
      height: 40px;
      padding: 5px 10px;
   }
   
   .btn {
      height: 40px;
      padding: 5px 10px;
      font-size: 16px;
   }

   .add-book__textarea {
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      resize: none;
      padding: 8px 10px;
      display: flex;
   }

   textarea {
      resize: none;        // забороняє змінювати розмір
      overflow: hidden;    // ховає скроллбар
      -webkit-appearance: none; // для Safari/Chrome
      -moz-appearance: none;    // для Firefox
      appearance: none;         // загальне
   }

   .tabs__btn {
      height: 40px;
      font-size: 16px;
      padding: 10px 15px;

   }

   .tabs__btn--left {
      border-radius: 10px 0 0 10px;
   }
   
   .tabs__btn--right {
      border-radius: 0 10px 10px 0;
   }

   .tabs__btn-icon {
      width: 20px;
      height: 20px;
      flex: 0 0 20px;
   }

   .list__title {
      font-size: 30px;
   }

   .genre-title {
      font-size: 18px;
      padding-bottom: 15px;
   }

   .list__deco-img {
      width: 50px;
      top: -23px;
   }

   .h3-title {
      font-size: 16px;
   }

   .add-book__toggle.collapsed,
   .add-book__toggle.expanded {
      font-size: 16px;
      height: 40px;
      padding: 10px 40px 10px 15px;
      border-radius: 10px;
   }

   .add-book__toggle.collapsed::before,
   .add-book__toggle.expanded::before {
      right: 12px;
      background-size: 15px;
   }

   .list-head--middle {
      margin: 50px 0 20px;
   }

   .add-book__form-container.expanded {
      max-height: 273px;
   }

   .search__btn--find,
   .search__btn--reset {
      width: auto;
      min-width: auto;
   }

   .search__img {
      width: 20px;
   }
   
}

@media (max-width: 767.98px) {
   .theme__btn {
      width: 70px;
      height: 30px;
      border-radius: 160px;
   }

   .theme__btn .indicator {
      width: 30px;
      height: 30px;
  }

  .theme__btn.active .indicator {
     left: 40px;
  }

  .theme__icon {
      width: 25px;
      height: 25px;
      max-width: 100%;
   }

   .app__title {
      font-size: 25px;
  }

  .logo {
      width: 35px;
      height: 35px;
      flex: 0 0 35px;
   }

   .logo__box {
      gap: 15px;
  }

  .add-book__form,
  .search__inner {
     column-gap: 10px;
  } 

  .search__inner {
     display: grid;
     grid-template-columns: 1fr 115px;
      grid-auto-rows: auto;
   }

   .search__btn--reset {
      grid-column: span 2;
   }

   .wrapper {
      padding-top: 55px;
   }

   .list__body {
      padding: 40px 10px 20px;
   }

   .list__item-inner,
   .book-description {
      font-size: 14px;
   }

    .list__item.active {
      gap: 15px;
    }
}

@media (max-width: 679.98px) {
   .add-book__form {
      display: flex;
      flex-direction: column;
   }

   .input,
   .btn {
      width: 100%;
   }

   .image-upload-label {
      order: 6;
   }

   .add-book__btn {
      order: 7;
   }

   .input,
   .textarea,
   select {
      font-size: 14px;
   }

   .input::placeholder,
   .add-book__textarea::placeholder,
   .add-book__select option {
      font-size: 14px;
   }

   .add-book__form-container.expanded {
      max-height: 437px;
  }

  .list-head--top {
     display: flex;
     flex-direction: column-reverse;
     gap: 30px;
  }

  .list-head__inner,
  .add-book__toggle  {
     width: 100%;
  }

   
//   ------------------------------------------------------
//   ------------------------------------------------------
//   ------------------------------------------------------
//   ------------------------------------------------------
//   ------------------------------------------------------
   .list__body.list-view {

      
      .list__item-delete span {
         display: none;
      }

      .list__item-delete {
         width: auto;
         min-width: none;
      }

      .list__item-favorit {
         width: auto;
         min-width: none;
      }

      .list__item-favorit span {
         display: none;
      }


      .list__item {
         grid-template-columns: 1fr 80px;
         grid-template-rows: 35px;
         align-items: center;
         gap: 15px;
      }

      .list__item.active {
         grid-template-columns: 80px 1fr 80px;
      }

      .list__item-controls {
         margin-left: auto;
      }
     
      .list__item-btn {
         padding: 0;
         width: 35px;
         height: 35px;
         flex: 0 0 35px;
      }

   }
   //   ------------------------------------------------------
   //   ------------------------------------------------------
   //   ------------------------------------------------------
   //   ------------------------------------------------------
   //   ------------------------------------------------------
   
   .scroll-to-top {
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
      font-size: 20px;
   }
   
}  

@media (max-width: 575.98px) {
   .search__inner {
      display: flex;
      flex-direction: column;
   }
 
   .list-head__top {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
   }

   .tabs {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
   }

   .tabs__btn {
      display: flex;
      justify-content: center;
   }

   .add-book__toggle.collapsed {
      width: 100%;
   }

   .list-head__inner {
      width: 100%;
   }

   .list__body {
      border: none;
      padding: 30px 8px 15px;
      border-top: 3px solid orange;
      border-radius: 0 0 10px 10px;
   }

   .genre-title {
      padding-bottom: 15px;
   }

   .list__deco-img {
      top: -21px;
      left: 25px;
      width: 45px;
  }

  .list__body.list-view .list__item.active {
   grid-template-columns: 50px 1fr 80px;
  }

  .list__body.list-view .list__item {
     column-gap: 10px;
  }
}

@media (max-width: 424.98px) {
   .tabs__btn {
      font-size: 14px;
      padding: 8px;
      height: 35px;
   }
}

