.list__item-btn {
  width: 100%;
} 

.list__item-btn.read {
  background-color: #27367b;
  width: 100%;
}

.list__item-inner.read {
  text-decoration: line-through;
  color: var(--text-accent);
}


.empty-message {
  text-align: center;
  color: gray;
  padding: 3rem;
  font-size: 1.5rem;
  border: 3px solid orange;
  border-radius: 10px;
}

.btn-read:hover {
  background-color: #757575;
  transition: background-color .2s ease-in-out;
}

