:root {
  --bg-color: #f3f3f3;
  --bg-dark: #fff;
  --bg-gray: #fff;
  --text-color: #000;
  --text-accent: #27367b;
  --bg-header: #27367b;
  --border-blau: #27367b;
  --list-item: #f2f2f2;
  --list-item-inner: #ffeccaa3;
  --light-yellow: antiquewhite;
  --orange-blau: orange;
  --gray1-gray2: #ababab;
}

[data-theme='dark'] {
  --bg-color: #212121;
  --bg-dark: #000;
  --bg-gray: #3d3d3d;
  --text-color: #fff;
  --text-accent: #fff;
  --bg-header: #000;
  --border-blau: #000;
  --list-item: #272422;
  --list-item-inner: #212121;
  --light-yellow: #27367b;
  --orange-blau: #272422;
  --gray1-gray2: #272422;

}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  /* max-width: 1680px; */
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

.wrapper {
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  /* height: calc(100vh - 60px); */

  position: relative;
  padding-top: 80px;
}

.app__title {
  font-size: 50px;
  margin: 20px 0;
  color: var(--text-accent);
}

.header {
  /* min-height: 50px; */
  width: 100%;
  height: auto;
  background-color: var(--bg-header);;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 10px 0;
}

.header.scrolled {
  background-color: #27367bf1;
  transition: all 0.3s ease;
}

.header.scrolled .logo__box {
  gap: 20px;
}

.header.scrolled .logo__title {
  font-size: 33px;
  transition: all 0.3s ease;
}

.header.scrolled .logo {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  transition: all 0.3s ease;
}

.header__container {
  padding: 0 10px;
}


.logo__box {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease;
}

.logo__title {
  color: #fff;
  margin: 0;
  transition: all 0.3s ease;
}

.logo {
  width: 60px;
  height: 60px;
  flex: 0 0 60px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.theme__icon {
  width: 30px;
  height: 30px;
  max-width: 100%;
} 

.theme__btn {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 160px;
  background: #d2d2d2;
  cursor: pointer;
  /* box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
              inset 0 8px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.1); */

}

.theme__btn.active {
  background: #d2d2d2;
  /* box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
              inset 0 2px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.05); */
}

.theme__btn .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #444,#222);
  border-radius: 50%;
  transform: scale(0.9);
  /* box-shadow: 0 8px 40px rgba(0,0,0,0.5),
              inset 0 4px 4px rgba(255,255,255,0.2),
              inset 0 -4px 4px rgba(255,255,255,0.2); */
  transition: 0.4s;
}

.theme__btn.active .indicator {
  left: 40px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1),
              inset 0 4px 4px rgba(255,255,255,1),
              inset 0 -4px 4px rgba(255,255,255,1);
  transition: 0.3s;
}

.btn {
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  font-size: 18px;
  font-weight: 700;
  color: #1445b8;
  background-color: #DADADA;
  transition: background-color .2s ease-in-out;
  border: 1px solid #27367b;
}

.btn:hover {
  background-color: #c6c6c6;
  transition: background-color .2s ease-in-out;

}


.btn-accent {
  background-color: #0054f5;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 25px;
  transition: background-color .2s ease-in-out, 
              color .2s ease-in-out;
}

.btn-accent:hover {
  background-color: #003fb8;
  color: #fff;
}

.h3-title {
  font-size: 20px;
  margin: 20px 0 15px;
  color: --text-accent; 
}

.list__title {
  font-size: 35px;
  font-weight: 700;
  color: --text-accent;
  margin: 0;
  color: var(--text-accent);
}

.input {
  height: 50px; 
  padding: 10px 15px;
  font-size: 16px;
  /* border: 2px solid #27367b; */
  border: 2px solid orange;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Roboto', serif;
}

.input::placeholder {
  font-size: 16px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #27367b;
}

[data-theme="dark"] .input {
  border: 2px solid #27367b;
}

[data-theme="dark"] input:focus,
[data-theme="dark"] textarea:focus,
[data-theme="dark"] select:focus {
  border: 2px solid orange;
}

.list-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 30px 0;
}

.list-head--middle {
  margin: 60px 0 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.genre-title {
  text-align: center;
  padding: 0 0 25px;
  margin-bottom: 0;
  color: var(--text-accent);
}

.genre-group {
  margin-bottom: 50px;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 25px;
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
  font-size: 24px;
  border-radius: 50%;
  border: none;
  background-color: #27367b;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-to-top:hover {
  background-color: orange;
  transition: opacity 0.2s ease-in-out;
}